<!DOCTYPE html>
<div class="container-fluid">

    <h1>Admin</h1>
    <hr>

    <div class="row">

        <div class="col-sm-4">

            <h2>Partners <i class="fa fa-refresh fa-spin" ng-if="loadingPartners"></i></h2>

            <p>
                <a class="btn btn-default" role="button" ng-click="openParterNewModal()">
                    <i class="glyphicon glyphicon-plus"></i> Add a New Partner
                </a>
            </p>

            <table class="table table-striped table-hover table-clickable" ng-if="!loadingPartners">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="partner in partners | orderBy:'title' ">
                        <td ng-click="navigatePartner(partner.title)">{{partner.title}}</td>
                        <td class="table-column-skinny">
                            <a ng-click="editPartner(partner)"><i class="glyphicon glyphicon-pencil"></i></a>
                        </td>
                        <td class="table-column-skinny">
                            <a ng-click="deletePartner(partner)"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-sm-7 col-sm-offset-1">

            <h2>Assessments <i class="fa fa-refresh fa-spin" ng-if="loadingAssessments"></i></h2>

            <p>
                <a class="btn btn-default" role="button" href="#/assessments/new">
                    <i class="glyphicon glyphicon-plus"></i> Add a New Assessment
                </a>
            </p>

            <div class="table-responsive" ng-if="!loadingAssessments">
                <table class="table table-striped table-hover table-clickable">
                    <thead>
                        <tr>
                            <th>Partner</th>
                            <th>Assessment Date</th>
                            <th>Performed By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="assessment in assessments | orderBy: '-created'" ng-click="navigateAssessment(assessment.id)">
                            <td>{{assessment.partner}}</td>
                            <td>{{formatDate(assessment.created)}}</td>
                            <td>{{assessment.author.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>