<!DOCTYPE html>
<div class="container-fluid">

    <h1>Partners</h1>
    <hr>
    <div class="row">

        <div class="col-sm-2" ng-repeat="partner in partners | orderBy:'title'" ng-click="navigate(partner.title)">
            <div class="panel panel-default option">
                <div class="panel-body">
                    <span class="ng-binding">{{partner.title}}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center" ng-if="loading">
        <i class="fa fa-2x fa-refresh fa-spin"></i>&nbsp;&nbsp;Loading partner data
    </div>

</div>