<!DOCTYPE html>
<div ng-if="debug" class="debug" style="position: absolute; top: 0; right: 0; padding: 20px; background-color: red;z-index:2;width: 650px"
    ng-class="{'hidden': hidden}" ng-click="hidden=!hidden">
    <pre>{{userInfo | json}}</pre>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h1>Welcome to the COECheck Tool</h1>
            <h3>This tool provides you the ability to identify how to grow your Azure Center of Excellence (practice, community,
                or similar) with the intent to provide resources and suggestions. This tool is not designed to me an analysis
                of the COE but rather should be used to provide guidance on how to evolve the practice to meet various business
                objectives. The tool will provide an assessment of three main areas: Readiness, Delivery, & Business Development.
            </h3>
            <h3>Below you will find a list of your completed assessments to date. Please click a row for more details, or
                <a
                    href="#/assessments/new">create a new assessment</a>.</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2">

            <h1 class="text-center">Your Assessments</h1>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-clickable">
                    <thead>
                        <tr>
                            <th>Group</th>
                            <th>Assessment Date</th>
                            <th>Performed By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="assessment in assessments | orderBy: '-created'" ng-click="navigate(assessment.id)">
                            <td>{{assessment.group}}</td>
                            <td>{{formatDate(assessment.created)}}</td>
                            <td>{{assessment.author.name}}</td>
                        </tr>
                        <tr ng-click="navigate('new')" ng-if="assessments.length === 0">
                            <td colspan="3" class="text-center">It does not appear that you have completed any assessments</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center" ng-if="loading">
                <i class="fa fa-2x fa-refresh fa-spin"></i>&nbsp;&nbsp;Loading assessment data
            </div>

        </div>

    </div>

</div>