<!DOCTYPE html>
<div class="modal-header">
    <h3 class="modal-title">Edit an Existing Parter</h3>
</div>
<div class="modal-body">
    
	<form>
		<div class="form-group">
            <label for="partnerName">Partner Name</label>
            <input type="text" class="form-control" id="partnerName" placeholder="Name" autocomplete="off" ng-model="edittedPartner.title">
		</div>
	</form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="submitPartner()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>